/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/*Шаг 8 Анимация в шапке*/

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: ease 0.3s;
}

.theme-menu:hover {
  transition: ease 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  transition: width 0.5s;
  background-color: var(--main-color);
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus::after {
  width: 100%;
}

.link-nice:hover::after {
  width: 100%;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  inset-inline-start: -15px;
  transform: translateY(-50%);
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(4px);
  }
}

/*Шаг 9 Анимации кнопок
/*общие стили для кнопок*/

button:focus {
  outline: none;
}

button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: ease 0.3s;
}

/*кнопка like*/

.card__like-button:after {
  content: "";
  position: absolute;
  background: var(--main-color);
  transform: translateX(-100%);
  inset: 0;
  transition: 0.5s ease-in-out;
}

.card__like-button:hover:after {
  transform: translateX(0%);
}

.button__text:hover {
  mix-blend-mode: difference;
  z-index: 2;
}

/*состояния кнопки save*/

.save-button:after {
  content: "";
  background: var(--main-color);
  position: absolute;
  transform: translateX(-100%);
  inset: 0;
  transition: 0.5s ease-in-out;
}

.save-button:hover:after {
  transform: translateX(0%);
}

.save-button:focus-visible {
}

.save-button:hover .floppy {
  mix-blend-mode: difference;
  z-index: 2;
}

.save-button:hover .save-button-link {
  mix-blend-mode: difference;
  z-index: 2;
}

/*Шаг 9 фокус на кнопке с сердцем*/
.card__icon-button:focus {
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  block-size: 32px;
}

/* Шаг 10 Подготовка SVG"*/

.contour {
  transition: 0.1s linear;
}

.main-body {
  opacity: 0;
  transition: 0.3s linear;
}

.core {
  opacity: 0;
  transition-delay: 0.03s;
  transition: 0.3s linear;
}

.sparks {
  opacity: 0;
}

/* Шаг 11 Анимация сердца"*/

.card__icon-button:hover .core {
  transition: 0.3s linear;
  opacity: 1;
}

.card__icon-button:hover .main-body {
  animation-timing-function: linear;
  transition-delay: 0.05s;
  transition: 0.3s linear;
  opacity: 1;
}

.card__icon-button:active .core {
  --core-fill: #ff0000;
  animation-timing-function: linear;
  transition: 0.3s linear;
  opacity: 1;
}

.card__icon-button:active .main-body {
  --main-body-fill: #ff0000;
  animation-timing-function: linear;
  transition-delay: 0.05s;
  transition: 0.3s;
  opacity: 1;
}

.like-icon.is-liked .core {
  --core-fill: #ff0000;
  transition: 0.3s linear;
  opacity: 1;
}

.like-icon.is-liked .main-body {
  --main-body-fill: #ff0000;
  transition: 0.3s linear;
  opacity: 1;
}

.like-icon.is-liked .contour {
  --heart-contour: #ff0000;
  transition-delay: 0.06s;
  transition: 0.3s;
  opacity: 1;
}

.like-icon.is-liked .sparks {
  --heart-sparks: #ff0000;
  transition-delay: 0.06s;
  transition: 0.3s linear;
  opacity: 0;
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.like-icon.is-liked .heart {
  animation: scale-icon 0.3s 0.1s ease-in alternate;
}

@keyframes scale-icon {
  to {
    scale: 1.1;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Шаг 12 Анимация Диалог*/

.confirm:after {
  content: "";
  position: absolute;
  background: var(--main-color);
  transform: translateX(-100%);
  inset: 0;
  transition: 0.5s ease-in-out;
}

.confirm:hover:after {
  transform: translateX(0%);
}

.confirm__text:hover {
  mix-blend-mode: difference;
  z-index: 2;
}
