/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* {
  border: 1px solid red;
}*/

/*Шаг 6 Лейаут*/

.page {
  display: grid;
  grid-template-columns: repeat(object-fill, 1fr);
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--content-font-variable);
  font-variation-settings: "wght" var(--content-text-weight, 400);
  color: var(--main-color);
  background-color: var(--accent-background-color);
  background-image: var(--background-gradient-color);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*верствка header*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  max-inline-size: var(--content-inline-size);
  margin-block-start: 100px;
  border: 2px solid var(--main-color);
  background-color: var(--accent-background-color);
  font-family: var(--content-font);
  text-transform: uppercase;
  inline-size: 100%;
  margin-bottom: 100px;
}

.logo {
  font-family: inherit;
  font-size: var(--logo-font-size);
  font-weight: 400;
  margin-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header-title {
  font-family: inherit;
  font-size: var(--header-title-font-size);
  line-height: var(--title-line-height);
  margin-block-start: clamp(1.25rem, 1.14rem + 0.4695vw, 1.5625rem);
  font-weight: 400;
}

/*кнопки смены стиля*/
.header__theme-menu {
  margin-block-start: 25px;
  margin-inline-start: 20px;
  margin-bottom: 20px;
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background: transparent;
  text-transform: uppercase;
}

/*main content*/
.main-content {
  display: grid;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.article {
  display: grid;
  grid-template-columns: repeat(object-fill, 1fr);
  outline: 2px solid var(--main-color);
  max-inline-size: var(--content-inline-size);
  inline-size: 100%;
  background-color: var(--accent-background-color);
}

.article__title {
  font-family: var(--content-font-variable);
  font-variation-settings: "wght" var(--content-title-weight, 700);
  inline-size: 100%;
  padding: 3px 10px;
  background-color: var(--accent-background-color);
  outline: 2px solid var(--main-color);
  font-size: var(--content-font-size);
}

.article__img__block {
  position: relative;
  border-bottom: 2px solid var(--main-color);
}

.article__img {
  display: block;
  width: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  height: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
  object-fit: cover;
  padding: 2px;
}

.paragraph {
  font-family: var(--content-font-variable);
  font-variation-settings: "wght" var(--content-text-weight, 400);
  font-size: var(--content-font-size);
  background-color: var(--accent-background-color);
  line-height: var(--main-line-height);
  padding: 27px 30px 0 25px;
}

/*Лейблы на карточках*/

label {
  position: absolute;
  z-index: 2;
  font-family: var(--content-font);
  font-size: var(--lable-font-size);
  color: var(--main-color);
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--content-text-shadow);
  inset-inline-end: 13px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  top: 28px;
  right: 13px;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--content-text-shadow)) or
  (-webkit-text-stroke: 1px var(--content-text-shadow)) {
  label {
    -webkit-text-stroke: 1px var(--content-text-shadow);
    text-stroke: 1px var(--content-text-shadow);
    text-shadow: none;
  }
}

/*кнопка like*/
button {
  cursor: pointer;
  transition: ease 0.3s;
}

.feedback {
  display: flex;
  justify-content: flex-end;
  gap: 9px;
  margin: 25px 25px 25px 0;
  max-height: 38px;
}

.card__icon-button {
  display: flex;
  background: transparent;
  border: none;
  block-size: 38px;
  align-self: center;
  padding-right: 0;
  padding-left: 0;
}

.card__like-button {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--content-font);
  color: var(--color-button-text);
  background-color: transparent;
  border: 2px solid var(--main-color);
  padding: 10px 40px;
  font-size: var(--button-font-size);
  inline-size: 130px;
  block-size: 38px;
  justify-self: end;
  overflow: hidden;
  margin-bottom: 25px;
}

.button__text {
  color: var(--color-button-text);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  font-family: var(--content-font);
  font-size: var(--button-font-size);
  text-decoration: none;
  line-height: 12.6px;
}

/*кнопка save*/

.floppy {
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 2;
}

.save-button {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--main-color);
  background: var(--accent-background-color);
  min-inline-size: 309px;
  min-block-size: 81px;
  overflow: hidden;
}

.save-button .floppy {
  inline-size: 28px;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
  transition: 0.03s;
  justify-self: center;
  align-self: center;
}

.save__block {
  display: flex;
  justify-content: center;
}

/*Шаг 12 Диалог*/

#dialog-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-family: var(--content-font);
  font-size: var(--button-font-size);
  text-transform: uppercase;
  color: var(--main-color);
  background: var(--accent-background-color);
  inline-size: 341px;
  padding: 28px 40px;
  gap: 30px;
  inset: 0;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

#dialog-id::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog-info .floppy {
  inline-size: 39px;
}

.dialog__text {
  inline-size: 198px;
  line-height: 150%;
}

.confirm {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid var(--main-color);
  inline-size: 257px;
  background: transparent;
  padding: 12.5px 114.5px;
  overflow: hidden;
}

/*Шаг 14 Фильтры*/
.filter-brightness {
  filter: brightness(200%);
}

.filter-blure {
  filter: blur(0.3rem);
}

.filter-contrast {
  filter: contrast(40%);
}

.filter-hblure {
  filter: blur(0.6rem);
}

.filter-rotate {
  filter: hue-rotate(-90deg);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-saturate {
  filter: saturate(50%);
}

.filter-plural {
  filter: brightness(150%) contrast(2);
}

@media (width >= 768px) {
  .save-button {
    flex-direction: row;
    min-inline-size: 340px;
    min-block-size: 55px;
  }

  .save-button .floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .header {
    display: flex;
    margin-bottom: 107px;
  }

  label {
    top: 25px;
    right: 25px;
  }
}
