/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --content-font: "PressStart2P-Regular", Arial, sans-serif;
  --content-font-variable: "Inter-Variable", Arial, sans-serif;
  --content-font-width: 320.05px;
  --title-font-width: 321px;
  --content-title-weight: 700;
  --content-text-weight: 400;
  --content-font-size: 18px;
  --lable-font-size: 14px;
  --button-font-size: 14px;
  --main-line-height: 21px;
  --title-line-height: 14px;
  --content-text-shadow: #fff;
  --main-color: #000;
  --color-button-text: #fff;
  --accent-background-color: #fff;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --content-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --content-block-size: clamp(20.4375rem, 19.5572rem + 3.7559vw, 22.9375rem);
  --background-gradient-color: repeating-linear-gradient(
      to bottom,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --main-body-fill: #000;
  --core-fill: #000;
  --heart-contour: #000;
  --heart-sparks: #ff0000;
}
